{include file='common/header'}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/nav_foot/css/foot.css?dfg">
<div class="common-foot">
	<div class="foot">
		<div class="top">
			<div class="left">
				<a class="header_logo" href="/" >
					<i class="icon icon_zaih">在行</i>
					<span class="fStyle">果壳网出品</span>
				</a>
				<ul>
					<a href="#" class="fStyle hover">首页</a>
					<a href="#" class="fStyle hover">下载app</a>
					<a href="#" class="fStyle hover">关于我们</a>
					<a href="#" class="fStyle hover">帮助</a>
				</ul>
			</div>
			<div class="right">
				<p class="fStyle bigTel">4000-691-791</p>
				<p class="fStyle">工作日 10:00-19:00</p>
				<input type="button" name="" value="在线客服">
				<div class="imgBox">
					<div class="box">
						<img src="__STATIC_PATH__/static/nav_foot/images/3.jpg">
						官方微信
					</div>
					<div class="box">
						<img src="__STATIC_PATH__/static/nav_foot/images/4.jpg">
						在行沙龙
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="left">
				<p class="fStyle">GUOKR © 2015 LOVINGLY MADE IN BEIJING<br>
				北京我最在行信息技术有限公司<br>
				京B2-20160131
					<a href="#" class="fStyle hover"><img src="__STATIC_PATH__/static/nav_foot/images/2.jpg">京公网安备 11010502031582号</a>
				</p>
			</div>
			<div class="right">
				<p class="fStyle">地址 北京市朝阳区建国路郎园Vintage </p>
				<p class="fStyle">电话 010-85809983</p>
			</div>
		</div>
	</div>
</div>
{include file='common/footer'}