{include file="common/header"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/nav_foot/css/nav.css?fgf">
	<div class="mobile">
		<div class="mobileBox">
			<a class="header_logo" href="/" ><i class="icon icon_zaih">在行</i></a>
		    <a href="#" class="mobile-menu-btn btn" id="mobileMenuBtn" >
		    	<p></p>
		    	<p></p>
		    	<p></p>
		    </a>
            {if !$reg}
            {if $login}
                <a class="hover header_user" href="{:url('/index/personalinfo/index')}">{$login['user_name']}</a>
            {else}
		    <a href="#" class="mobile-text-btn btn" id="mobileLoginBtn" >登录</a>
            {/if}
            {/if}
		    <a href="#" class="btn">去「分答」</a>
		</div>
	</div>
    <div class="mobileList">
        <span>×</span>
        <ul class="list">
            <li><a href="#">首页</a></li>
            <li><a href="#">职场发展</a></li>
            <li><a href="#">行业经验</a></li>
            <li><a href="#">互联网+</a></li>
            <li><a href="#">创业和投融资</a></li>
            <li><a href="#">生活服务</a></li>
            <li><a href="#">心理</a></li>
            <li><a href="#">投资理财</a></li>
            <li><a href="#">教育学习</a></li>
            <li><a href="#">其他</a></li>
        <!-- </div> -->
    </div>
    <div class="zaih_headerout">
        <div class="header">
            <a class="header_logo" href="{:url('/index')}" ><i class="icon icon_zaih">在行</i></a>
            <ul class="header_nav">
                <li class="decoration"></li>
                {foreach $cate_top as $key=>$val}
                    {if $key<4}
                    <li>
                        <a href="{:url('topics/').'?cate_id='.$val['id'].'&city='.$city}" class="hover">{$val['cate_name']}</a>
                    </li>
                    {/if}
                {/foreach}
                <li class="header_more">
                    <a href="#" class="hover">更多&nbsp;<span class="icon_down"></span></a>
                    <ul class="more_menu">
                        <li class="decoration"></li>
                        {foreach $cate_top as $key=>$val}
                            {if $key>=4}
                            <li>
                                <a href="{:url('topics/').'?cate_id='.$val['id'].'&city='.$city}" class="hover">{$val['cate_name']}</a>
                            </li>
                            {/if}
                        {/foreach}
                    </ul>
                </li>
            </ul>
            
            <div class="header_setting">
                {if $login}
                {if $login['if_specialist']==1}
                <a class="tutorApply hover tohangj" href="{:url('/index/expertreal')}">我的行家</a>
                {else}
                <a class="tutorApply hover tohangj" href="{:url('/index/expertreal')}">成为行家</a>
                {/if}
                {/if}

                {if !$reg}
                {if $login}
                <a class="hover header_user" href="{:url('/index/personalinfo/index')}">{$login['user_name']}</a>
                <a href="{:url('/index/login/logout')}" class="hover">退出</a>
                {else}
                <a class="hover header_login">登录</a>
                <a href="{:url('/index/register')}" class="hover">注册</a>
                {/if}
                {/if}
            </div>
            <div class="header_links">
                <a href="{:url('/index/appfen')}" class="hover">去「分答」</a>
            </div>

            <form class="search" action="{:url('/index/search')}" method="get">
                <input class="search-content" type="text" placeholder="搜行家、话题、服务" value="" name="word">
                <input type="hidden" value="{$city?$city:''}" name="city">
                <div class="search-sug sug"></div>
                <button class="search-btn icon icon-search" type="submit"></button>
            </form>
        </div>
    </div>
	


    <div class="login_container" style="display:none;width: 100%;height: 500px;">
    	<div class="login_box" style="display: none;">
    		<div class="back">
    			
    		</div>
    		<div class="login" id="loginWin">
                <span>×</span>
    			<div class="single-white-wrap">
                    <p>欢迎登录「在行」</p>
                    <div class="signup-panel">

                        <p class="signup-tip">无需注册，直接用社交账号登录</p>

                        <a class="btn-primary btn-hg login-weibo" href="#" data-received="">
                            <img src="__STATIC_PATH__/static/login/image/weibo.png" class="icon icon-weibo"></img>
                        </a>        

                        <a class="btn-primary btn-hg login-weixin" href="#" data-received="">
                            <img src="__STATIC_PATH__/static/login/image/weixin.png" class="icon icon-weixin"></img>
                        </a>    

                        <a class="btn-primary btn-hg login-baidu" href="#" data-received="">
                            <img src="__STATIC_PATH__/static/login/image/baidu.png" class="icon icon-baidu"></img>
                        </a>    


                        <div class="phone-login" id="phoneLogin" style="display: block;">
                            <div class="btn-hg login-phone" id="phoneBtn" style="display: none;">
                                    手机登录
                            </div>
                            <form class="signForm" style="display: block">
                                <div style="display:block;"><input id="csrf_token" name="csrf_token" type="hidden" value=""></div>
                                <div class="form-group">
                                    <div class="form-item">
                                        <input class="form-control" id="identity" name="identity" placeholder="手机号" type="text" value="">
                                        <span class="form-error errForIdentity"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-item">
                                        <input class="form-control" id="password" name="password" placeholder="密码" type="password" value="">
                                        <p class="form-error errForPassword"></p>
                                    </div>
                                    <div class="err" style="position: absolute; text-align: left;color: #ff946e;"></div>
                                </div>
                                <div class="btns-wrap-center">
                                    <input type="button" id="submit" class="btn-submit btn-hg btn-complete-register" value="登录">
                                </div>
                            </form>


                            <div>
                                <p class="to-signup">还没有账号？<a href="{:url('/index/register')}">现在去注册</a></p>
                                <p class="to-resetpassword"><a href="#">忘记密码？</a></p>
                            </div>

                        </div>

                    </div>
                </div>
    		</div>
    	</div>
    </div>
    <script type="text/javascript" src="__STATIC_PATH__/static/nav_foot/js/header.js?dsd">
    </script>
    <script type="text/javascript">
        $(function(){
            $('#loginWin #submit').click(function(){
                var username = $('#identity').val();
                var password = $('#password').val();
                if(!username || !password ){
                    alert('请输入账号内容！');
                    return;
                }
                // console.log(3333)
                $.post({
                    url: "{:url('../../index/login/login')}",
                    data:{
                        username: $('#identity').val(),
                        password: $('#password').val()
                    },
                    success: function(data){
                        data = JSON.parse(data);
                        console.log(data)
                        if(data.status == 0){
                            window.location.href = "{:url('index')}";
                        }else{
                            showErr(data);
                        }
                    },

                })
            })

            function showErr(data){
                $('.signForm .err').text(data.message);
                console.log(11111)
            }
        })


        $(document).ready(function(){ 
            $("#loginWin .signForm").keydown(function(e){ 
                var curKey = e.which; 
                // console.log(111);
                if(curKey == 13){ 
                    $("#loginWin #submit").click();
                    // console.log(2222) 
                    return false; 
                } 
            }); 
        }); 
        
        $(".signup input").focus(function(){
              $(".signup .err").text('');
            });
    </script>
</body>
</html>