{include file="common/header"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/nav_foot/css/nav.css?fgfhf">
	<div class="mobile">
		<div class="mobileBox">
			<a class="header_logo" href="/" ><i class="icon icon_zaih">在行</i></a>
		    <a href="#" class="mobile-menu-btn btn" id="mobileMenuBtn" >
		    	<p></p>
		    	<p></p>
		    	<p></p>
		    </a>
		    <a href="#" class="mobile-text-btn btn" id="mobileLoginBtn" >登录</a>
		    <a href="#" class="btn">去「分答」</a>
		</div>
	</div>
    <div class="mobileList">
        <span>×</span>
        <ul class="list">
            <li><a href="#">首页</a></li>
            <li><a href="#">职场发展</a></li>
            <li><a href="#">行业经验</a></li>
            <li><a href="#">互联网+</a></li>
            <li><a href="#">创业和投融资</a></li>
            <li><a href="#">生活服务</a></li>
            <li><a href="#">心理</a></li>
            <li><a href="#">投资理财</a></li>
            <li><a href="#">教育学习</a></li>
            <li><a href="#">其他</a></li>
        <!-- </div> -->
    </div>
    <div class="zaih_headerout">
        <div class="header">
            <a class="header_logo" href="{:url('/index')}" ><i class="icon icon_zaih">在行</i></a>
            <ul class="header_nav">
                <li class="decoration"></li>
                <li>
                    <a href="{:url('/index/topics').'?cate_id=1'}" class="hover">职场发展</a>
                </li>
                <li>
                    <a href="#" class="hover">行业经验</a>
                </li>
                <li>
                    <a href="#" class="hover">互联网+</a>
                </li>
                <li>
                    <a href="#" class="hover">创业和投融资</a>
                </li>
                <li class="header_more">
                    <a href="#" class="hover">更多&nbsp;<span class="icon_down"></span></a>
                    <ul class="more_menu">
                        <li>
                            <a href="#" class="hover">生活服务</a>
                        </li>
                        <li>
                            <a href="#" class="hover">心理</a>
                        </li>
                        <li>
                            <a href="#" class="hover">投资理财</a>
                        </li>
                        <li>
                            <a href="#" class="hover">教育学习</a>
                        </li>
                        <li>
                            <a href="#" class="hover">其他</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            
            <div class="header_setting">
                <a class="tutorApply hover tohangj" href="{:url('/index/expertreal')}">成为行家</a>
                {if $login}
                <a class="hover header_user">{$login}</a>
                <a href="{:url('/api/login/logout')}" class="hover">退出</a>
                {else}
                <a class="hover header_login">登录</a>
                <a href="{:url('/index/register')}" class="hover">注册</a>
                {/if}
            </div>
            <div class="header_links">
                <a href="{:url('/index/appfen')}" class="hover">去「分答」</a>
            </div>

            <form class="search" action="" method="">
                <input class="search-content" type="text" placeholder="搜行家、话题、服务" value="" name="word">
                <div class="search-sug sug"></div>
                <button class="search-btn icon icon-search" type="submit"></button>
            </form>
        </div>
    </div>
	


    <div class="login_container" style="display:none;width: 100%;height: 500px;">
    	<div class="login_box" style="display: none;">
    		<div class="back">
    			
    		</div>
    		<div class="login">
                <span>×</span>
    			登录
    		</div>
    	</div>
    </div>
    <script type="text/javascript" src="__STATIC_PATH__/static/nav_foot/js/header.js">
    </script>
</body>
</html>