
     @font-face{
        font-family:tutor-icons;
        src:url(0b86a9ca.tutor-icons.eot);
        src:url(0b86a9ca.tutor-icons.eot?#iefix)
        format('embedded-opentype'),url(25266ea0.tutor-icons.svg) 
        format('svg'),url(ddfa3f61.tutor-icons.woff) 
        format('woff'),url(d7c26ff4.tutor-icons.ttf) 
        format('truetype')
     	}
	li{
		list-style: none;
	}
	.zaih_headerout .icon{
		float: left;
	    margin-left: -4px;
	    height: 56px;
	    color: #ff946e;
	    font-size: 64px;
	    line-height: 56px;
	}
	.zaih_headerout a{
		text-decoration: none;
		height: 56px;
		line-height: 56px;
		text-align: center;
		color: #fff;
	}
	.zaih_headerout a.hover:hover{
		color: #ff946e;
	}
	.zaih_headerout li a{
		font-size: 14px;
	}
	.zaih_headerout {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		width: 100%;
		height: 56px;
		background: rgba(0,0,0,.7);
		/*background: linear-gradient(rgba(52,52,52,.8),rgba(52,52,52,0));*/
		/*background: rgba(52,52,52,.8);*/
	}
	.zaih_headerout .header{
		width: 100%;
		color: #fff;
		max-width: 1060px;
		margin: auto;
		clear: both;
	}
	.zaih_headerout .header_logo i{
		margin: 0 20px;
		font-size: 32px;
	}
	.zaih_headerout .header .header_nav {
	    position: relative;
	    float: left;
	    height: 56px;
	    font-weight: 400;
	    vertical-align: baseline;
	}
	.zaih_headerout .header .header_nav .decoration{
		position: absolute;
	    top: 0;
	    left: 0;
	    margin: 0;
	    height: 2px;
	    background: #ff946e;
	    z-index: 2;
		}
	.zaih_headerout .header .header_nav li {
	    position: relative;
	    float: left;
	    margin-top: 2px;
	    display: list-item;
	    z-index: 1;
	}
	
	.zaih_headerout .header .header_nav >li>a {
	    padding: 0 14px;
	    font-size: 14px;
	    line-height: 54px;
	    height: 54px;
	    display: inline-block;
	}
	.zaih_headerout .header .header_more >a .icon_down{
		position: relative;
	}
	.zaih_headerout .header .header_more >a .icon_down:before{
		position: absolute;
		top: 50%;
		right: -12px;
		content:"";
		width: 8px;
		height: 1px;
		background: #fff;
		transform: rotate(-30deg);
	}
	.zaih_headerout .header .header_more >a .icon_down:after{
		position: absolute;
		top: 50%;
		right: -5px;
		content:'';
		width: 8px;
		height: 1px;
		background: #fff;
		transform: rotate(30deg);
	}
	.zaih_headerout .header .header_more:hover .icon_down:before{
		background:  #ff946e;
	}
	.zaih_headerout .header .header_more:hover .icon_down:after{
		background:  #ff946e;
	}

	.zaih_headerout .header .header_more .more_menu {
	    height: 0;
	    width: 80px;
	    overflow: hidden;
	    /*border-radius: 0 0 9px 9px;*/
	    background: rgba(255,255,255,.5);
	}
	.zaih_headerout .header .header_more .more_menu li {
	    float: none;
	    margin: 0;
	    height: 38px;
	}
	/*.header .header_more .more_menu li:lastchild{
		border-radius: 0 0 9px 9px;
	}*/
	.zaih_headerout .header .header_more .more_menu li a{
		display: block;
	    padding: 0 10px;
	    height: 38px;
	    line-height: 38px;
	    color: #343434;
	    font-size: 14px;
	}

/*搜索*/
.zaih_headerout .header .search {
    position: relative;
    float: right;
    margin: 16px 20px 16px 0;
    border: 1px solid rgba(52,52,52,.2);
    border-radius: 15px;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    overflow: visible;
}
.zaih_headerout .header .search .search-content {
    display: inline-block;
    float: left;
    /*padding: 4px 24px 4px 12px;*/
    border: none;
    width: 145px;
    height: 24px;
    background: 0 0;
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif;
    font-size: 12px;
    outline: none;
    padding-left:10px; 
}
.zaih_headerout .header .search .search-sug {
    top: 24px;
    left: 12px;
    width: 218px;
}
form .search-sug {
    position: absolute;
    background: #fff;
    z-index: 1;
}
.zaih_headerout .header .search .search-btn {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 0;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 50%;
    background: 0 0;
    color: #ff946e;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
    transition: transform 80ms cubic-bezier(0.23,1,.32,1);
}
/*.icon-search:before {
    content: "\e62e";
}
*/
	.zaih_headerout .header .header_setting{
		float: right;
	}
	.zaih_headerout .header .header_setting a{
		float: left;
    	margin: 0 8px;
    	font-size: 14px;
    	cursor: pointer;
	}
	.zaih_headerout .header .header_links{
		float: right;
	}
	.zaih_headerout .header .header_links a{
		float: left;
    	margin: 0 8px;
    	font-size: 14px;
	}
	/*登录模态框*/
	.login_container{
		position: fixed;
		z-index: 1001;
	}
	.login_container .login_box{
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		/*display: none;*/
	}
	.login_container .login_box .back{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
		position: absolute;
		left: 0;
		top: 0;
	}
	.login_container .login_box .login{
		background: #f4f4f4;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -50px;
		margin-top: -50px;
		border-radius: 6px;
	}
	.login_container .login_box .login >span{
		position: absolute;
		top:10px;
		right: -30px;
		width: 30px;
		height: 25px;
		line-height: 20px;
		background: #ff946e;
		color: #fff;
		border-radius: 0 6px 6px 0px;
		text-align: center;
	}
	/*自适应*/

	@media (min-width: 990px) {
		.header,.zaih_headerout{
			display: block;
		}
		.zaih_headerout .header .search,.zaih_headerout .header .header_setting a.tohangj{
			display: block;
		}
		.mobile{
			display: none;
		}
	}
	@media (max-width: 989px) and (min-width: 769px) {
		.header,.zaih_headerout{
			display: block;
		}
		.zaih_headerout .header .search,.zaih_headerout .header .header_setting a.tohangj{
			display: none;
		}
		.mobile{
			display: none;
		}
	}
	@media (max-width: 769px) {
		.header,.zaih_headerout{
			display: none;
		}
		.mobile{
			display: block;
		}
	}

	/*mobile*/
.mobile a{
	color: #fff;
}

	.mobile{
		height: 80px;
		width: 100%;
		color: #fff;
		/*background: transparent;*/
		position: fixed;
		left: 0;
		top: 0;
		clear: both;
		z-index: 999;
		background: rgba(0,0,0,.7);
		/* background: linear-gradient(rgba(52,52,52,.8),rgba(52,52,52,0));*/ 
	}
	.mobile .mobileBox{
		position: absolute;
		z-index: 2;
		width: 100%;
	}
	.mobile .mobileBox .header_logo i{
		margin: 0 20px;
		font-size: 32px;
		color: #ff946e;
	}
	.mobile .mobileBox >a.btn{
		float: right;
		line-height: 56px;
		text-align: center;
		padding: 0 10px;
	}
	.mobile .mobileBox #mobileMenuBtn p{
		width: 30px;
		height: 2px;
		margin: 8px 0;
		padding:0;
		background: #fff;
	}
	.mobile .mobileBox #mobileMenuBtn p:first-child{
		margin-top: 15px;
	}
	.mobileList{
		background: rgba(0,0,0,.9);
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
	}
	.mobileList>span{
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 15px;
		height: 15px;
		line-height: 15px;
		color: #b2b1b1;
		font-size: 26px;
		padding: 15px;
		float: right;
		cursor: pointer;
	}
	.mobileList .list{
		line-height: 40px;
		background: rgba(0,0,0,.9);
		position: absolute;
	    top: 45px;
	    bottom: 0;
		color: #948C8C;
		z-index: 2;
		width: 100%;
		overflow-y: auto;
	}
	.mobileList .list li{
		height: 50px;
		border-bottom: 1px solid #948C8C;
	}
	.mobileList .list li>a:hover{
		/*background: rgba(0,0,0,.1);*/
		color: #ff946e;
	}
	.mobileList .list li>a{
		display: block;
		height: 100%;
		line-height: 50px;
		font-size: 22px;
		text-align: center;
		/*border-bottom: 1px solid #948C8C;*/
		color: #b2b1b1;
	}