{include file='common/header'}
{include file='nav_foot/nav'}
<link rel="stylesheet" href="__STATIC_PATH__/static/index/css/index.css?ab">
<div class="index container">
    <div class="cover">
        <div class="cover-image" style="background-image:url({:url('/data/index/Fgfa_iD_vHSZTzMo94hqJl9CzKl3.png')})"></div>
        <div class="column">
            <div class="index-title">
                <h1>{$data_list.main_word1}<br>{$data_list.main_word2}</h1>
                <p>{$data_list.described_word}</p>
                <a href="" class="app-download-btn"
                    target="_blank">下载客户端</a>
                <form class="index-search" action="{:url('/index/search')}" method="GET">
                    <div class="drop-select drop-select-hide" id="city">
                        <a class="drop-select-default dropSelectDefault" id="selectCity" onclick="selex.show()">{foreach $cityList as $key=>$val}{if $val['place']==$city}{$val['place_name']}{/if}{/foreach}<i class="icon icon-arrow-bottom" href="javascript:void 0;"></i></a>
                        <ul class="drop-select-options">
                            <li class="arrow-up-wrap"><i class="arrow-up"></i></li>
                            {foreach $cityList as $key=>$val}
                                <li>
                                    <a class="city {$val['place']==$city?'current':''}" data-city="{$val['place']}" onclick="selex.getCity()" href="javascript:void 0;">{$val['place_name']}</a>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                    <input class="search-content" autocomplete="off" type="text" placeholder="搜行家、话题、服务" name="word">
                    <input type="hidden" id="cityInput" name="city">
                    <div class="search-sug sug">
                    </div>
                    <button class="search-btn" type="submit">搜索</button>
                    <button class="search-btn-mobile" type="submit">
                        <span class="icon icon-search"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="index-guide">
        <div class="column">
            <div class="guide">
                <div class="guide-step">
                    <i class="icon icon-home-tutor"></i>
                    <h2>海量行家</h2>
                    <p>严选超过8千位行家达人专属服务</p>
                </div>
                <div class="guide-step">
                    <i class="icon icon-home-consultant"></i>
                    <h2>万能顾问</h2>
                    <p>求教专家解惑或与达人切磋</p>
                </div>
                <div class="guide-step">
                    <i class="icon icon-home-service"></i>
                    <h2>按需服务</h2>
                    <p>根据个人所需线上线下灵活沟通</p>
                </div>
            </div>
        </div>
    </div>
  <!--   <?php
        var_dump($use_print);
        var_dump($find_money_uid);
        var_dump($find_money_expert);
        
    ?> -->
    <!-- <div>
         
         {foreach $find_money_expert as $k=>$exparray}
         {if $k<=2}
    <img src="__STATIC_PATH__/{$exparray['exp_homepic']}">
    {/if}
   {if $k>1}
   <p>{$exparray['exp_homepic']}</p>
   {/if}
    {/foreach}
    </div> -->
    <div class="content">
        <ul class="index-list">
        {foreach $find_money_expert as $k=>$exparray}
        {if $k<4}
            <li class="index-list-tutor index-list-sm">
                <a class="index-list-item aTutor" href="">
                <img src="__STATIC_PATH__/{$exparray['exp_homepic']}">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>{$exparray['exp_realname']}</h3>
                    <h4>{$exparray['exp_job']}</h4>
                    <p class="index-topic-name">小白也能懂的个性化推荐系统</p>
                    <p class="index-topic-info">
                        <i>『 </i>
                            <span>依托于互联网行业的快速发展，信息的爆炸式增长，推荐系统有了很好的生存土壤。所谓个性化推荐，就是要帮助人们从纷繁复杂的信息中…</span>
                        <i> 』</i>
                    </p>
                </div>
                <span class="index-tutor-views">
                    10人见过
                </span>
            </a>
            </li>
        {/if}
        {/foreach}

            <li class="index-list-subject index-list-lg">

                <a data-received="首页-专题页..specialID.944" href="{:url('/index/holiday')}">
                <img src="{$place_topic['pic']} " style="width: 480px;height: 320px">
            </a>

            </li>

        {foreach $find_money_expert as $k=>$exparray}
        {if $k>=4}
            <li class="index-list-tutor index-list-sm">
                <a class="index-list-item aTutor" href="">
                <img src="__STATIC_PATH__/{$exparray['exp_homepic']}">

                <div class="index-list-cover"></div>
                <div class="index-tutor-info">
                    <h3>{$exparray['exp_realname']}</h3>
                    <h4>{$exparray['exp_job']}</h4>
                    <p class="index-topic-name">小白也能懂的个性化推荐系统</p>
                    <p class="index-topic-info">
                        <i>『 </i>
                            <span>依托于互联网行业的快速发展，信息的爆炸式增长，推荐系统有了很好的生存土壤。所谓个性化推荐，就是要帮助人们从纷繁复杂的信息中…</span>
                        <i> 』</i>
                    </p>
                </div>
                <span class="index-tutor-views">
                    10人见过
                </span>
            </a>
            </li>
        {/if}
        {/foreach}

        </ul>
        <div class="index-btn">
            <a  href="{:url('/index/topics/')}" class="btn-default btn-hg">发现更多行家</a>
        </div>

        <div class="index-app-download appDownloadBar">
            <a class="app-download-lg" href="{:url('/index/appzai')}">
            <img src="__STATIC_PATH__/static/index/images/zh_download.jpeg">
        </a>
            <a target="_blank" class="app-download-sm">
            <img src="http://media.zaih.com/FlUh_JkYc1zis1lEr3Z84DCBfsmu">
        </a>
        </div>
    </div>


    <h2 class="slider-title">在行故事</h2>

     <div id="slider" class="slider">

        
        <a class="slides" style="background-image: url(&quot;__STATIC_PATH__/{$lunbo_list.slide_pic1}?abcd&quot;);">

            <p class="slides-title">{$lunbo_list.title1}</p>
            <p class="slides-summary">{$lunbo_list.summary1}</p>
            <span class="slides-btn">{$lunbo_list.pepole_index1}</span>

        </a>



        <a href="" class="slides" style="background-image: url(&quot;__STATIC_PATH__/{$lunbo_list.slide_pic2}?abcd&quot;);">

            <p class="slides-title">{$lunbo_list.title2}</p>
            <p class="slides-summary">{$lunbo_list.summary2}</p>
            <span class="slides-btn">{$lunbo_list.pepole_index2}</span>
        </a>



        <a href="" class="slides" style="background-image: url(&quot;__STATIC_PATH__/{$lunbo_list.slide_pic3}?abcd&quot;);">

            <p class="slides-title">{$lunbo_list.title3}</p>
            <p class="slides-summary">{$lunbo_list.summary3}</p>
            <span class="slides-btn">{$lunbo_list.pepole_index3}</span>


        </a>
        <div class="slider-cover" id="sliderCov">
            <a href="javascript:void 0;" class="prev" id="prev"><span></span></a>
            <a href="javascript:void 0;" class="next" id="next"><span></span></a>
        </div>
    </div>
</div>
<script type="text/javascript">
//  改变首页大图
    var coverImage=document.querySelector('.cover-image');
    coverImage.style.backgroundImage='url("__STATIC_PATH__/{$data_list.head_img}")';
    
</script>
<script type="text/javascript">
    //改变slider中的第一个span
    var vSlider=document.querySelector('#slider');
    var vSpan=vSlider.querySelectorAll('.slider .slides-btn');
    for(var i=0;i<vSpan.length;i++){
        if(vSpan[i].innerHTML==''){
            vSpan[i].style.display="none";
        }
    }   
//  vSpan.style.display="none";
</script>
<script src="__STATIC_PATH__/static/index/js/index.js"></script>
{include file='nav_foot/foot' /}
{include file='common/footer' /}