{include file="common/header"}
{include file="nav_foot/nav"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/expertaddinfo/css/add_detail.css">
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/expertaddtop/css/add_subject.css">
	<div class="container">
		<div class="content">

			<div class="sticky-wrapper" id="sticky-wrapper" style="height: 100px;">
				<div class="apply-steps sticky">
					<div class="step-list" style="margin: 36px;text-align: center;color: rgb(255, 148, 110);">
						你的资料不够完善！请继续完善。
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<script>
		$(function(){
			
		})
	</script>
{include file="nav_foot/foot"}
{include file="common/footer"}