{include file="common/header"}
{include file="nav_foot/nav"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/topics/less/topics.css?wqdrtdgryretyery">
<div class="topics">
	<div class="category">
		<div class="content f5">
			<div class="category-body clear-fix">
				<div class="contetn-left">
					<ul>
						{foreach $cate as $k=>$val}
						<li><a href="{:url('index').'?cate_id='.$val['id']}">{$val['cate_name']}</a><i class="icon icon-go"></i></li>
						{/foreach}
					</ul>
					<ul>
						{foreach $cate_list as $k=>$val}
						<li>
							<a href="{:url('index').'?cate_id='.$val['id']}" class="{if isset($val['list'])}cur{/if}">{$val['cate_name']}</a>
							{if isset($val['list'])}
							<div class="cate-more">
								<ul class="content">
									{foreach $val['list'] as $value}
									<li><a href="{:url('index').'?cate_id='.$value['id']}">{$value['cate_name']}</a></li>
									{/foreach}
								</ul>	
							</div>
							{/if}
						</li>
						{/foreach}
					</ul>
				</div>
				<div class="content-right">
					<div class="filter">
						<a>筛选</a>
						<div class="cate-more">
								<ul class="content">
									<li>价格</li>
									<li><a href="">0-300</a></li>
									<li><a href="">301-600</a></li>
									<li><a href="">601-1000</a></li>
									<li><a href="">1000以上</a></li>
									<li>
										<form>
											<input type="text" name="" placeholder="起始价格">
											<input type="text" name="" placeholder="终止价格">
											<button type="submit">确定</button>
										</form>
									</li>
								</ul>	
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="list-filter">
			<ul>
				<li><a href="">综合排序</a></li>
				<li><a href="">见过最多</a></li>
				<li><a href="">评分最高</a></li>
				<li><a href="">发布时间</a></li>
				<li><a href="">价格</a></li>
			</ul>
			<div class="city">
				<span>北京</span>
				<ol>
					<li><a><span class="cur">北京</span></a></li>
					<li><a><span>上海</span></a></li>
					<li><a><span>深圳</span></a></li>
					<li><a><span>广州</span></a></li>
					<li><a><span>杭州</span></a></li>
					<li><a><span>成都</span></a></li>
					<li><a><span>西安</span></a></li>
					<li><a><span>武汉</span></a></li>
					<li><a><span>宁波</span></a></li>
				</ol>
			</div>
		</div>
		<div class="list-content">
			<ul>
				<a href="{:url('/index/detail')}">
					{foreach $topic[2] as $key=>$value}
					<li class="clear-fix">
						<div class="avatar"></div>
						<div class="list-body">
							<div class="list-head">
								 <div class="type f6">线上课</div><div class="title">{$value['topic_name']}</div><div class="score"><span>9.3</span>分</div><img class="tips" src="__STATIC_PATH__/static/topics/images/170920151653.png"><!-- 该题分由在行系统算法综合学员的匿名评分以及多种因素得出，每增加三个评分，更新一次-->
							</div>
							<div class="list-right">
								<span>{$value['topic_price']}</span>元/次
							</div>
							<div class="list-msg">
								<div class="name">{$value['uname']}</div><div class="label">译者，CPA，小熊熊OS创始人</div>
							</div>
							<div class="list-foot"><span><span class="seen">447</span>人见过</span><span>，<span class="join">971</span>人参加线上课</span></div>
						</div>
							
					</li>
					{/foreach}
				</a>
			</ul>
		</div>
	</div>
	<div class="list-tabs">
		<ul class="content">
			{if $topic[0]>10}
			<li class="tab-left"><a href="">&nbsp;</a></li>
			<li class="{if $topic[1] == 1}cur{/if}"><a href="">1</a></li>
			{/if}
			{if $topic[1]>4}
			<li class="ellipsis"><a href="">...</a></li>
			{/if}
			<?php
				for($i=$topic[1]-2;$i<=$topic[1]+2;$i++){
					if($i>1 and $i*10<$topic[0]-20){
						echo '<li class="ellipsis"><a href="">$i</a></li>';
					}
				}
			?>
			{if $topic[0]>$topic[1]*10+20}
			<li class="ellipsis"><a href="">...</a></li>
			{/if}
			{if $topic[0]>$topic[1]*10+10}
			<li class="tab-right"><a href="">&nbsp;</a></li>
			{/if}
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.topics .filter a').click(function(){
			if($(this).parent().hasClass('cur')){
				$(this).parent().removeClass('cur');
			}else{
				$(this).parent().addClass('cur');
			}
			return false;
			
		});
		$('.topics .list-filter .city>span').click(function(){
			if($('.topics .list-filter').hasClass('cur')){
				$('.topics .list-filter').removeClass('cur');
				
			}else{
				$('.topics .list-filter').addClass('cur');
				var that = this;
				$('.topics .list-filter ol li').on('click',function(){
					$(that).click();
					$(that).html($(this).text());
					$('.topics .list-filter ol li').off('click');
				})
			}
		})
	})
</script>
{include file="nav_foot/foot"}
{include file="common/footer"}