{include file="common/header"}
{include file="nav_foot/nav"}
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>		
		<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/personalinfo/css/zr_personaCenter.css?jA123dh1j12"/>
		<div class="zr_zr_header">
			
		</div>
		<div class="zr_container">
			<div class="zr_content">
				<div id="zr_vue_here">
					<!--左边-->
					<div class="img_nav">
						<img :src="touxiang_src"/>
						<div class="nav_list">
							<ul>
								<li class="navList_ul_li">									
									<router-link to="/appointment" active-class="whether_curMenu"><i class="cur_menu"></i>我约的行家</router-link>
								</li>
								<li class="navList_ul_li">	
									<router-link to="/wantList" active-class="whether_curMenu"><i class="cur_menu"></i>心愿单</router-link>
								</li>
								
								<!--添加我的话题，预约单、收到的评论-->
								
								<!--添加结束-->
								
								<li class="navList_ul_li">	
									<router-link to="/liquan" active-class="whether_curMenu"><i class="cur_menu"></i>我的礼劵</router-link>
								</li>
								<li class="navList_ul_li">	
									<router-link to="/personalSet" active-class="whether_curMenu"><i class="cur_menu"></i>个人设置</router-link>
									<ol>
										<li>	
											<router-link to="/GerenZiliao" active-class="whether_curWord"><i class=""></i><span class="cur_menu_word">个人资料</span></router-link>
										</li>
										<li>
											<router-link to="/TouxiangSet" active-class="whether_curWord"><i class=""></i><span class="cur_menu_word">头像设置</span></router-link>
										</li>
										<li>
											<router-link to="/YanzhengPhone" active-class="whether_curWord"><i class=""></i><span class="cur_menu_word">验证手机</span></router-link>
										</li>
										<li>	
											<router-link to="/ChangeMima" active-class="whether_curWord"><i class=""></i><span class="cur_menu_word">修改密码</span></router-link>
										</li>
										<li>	
											<router-link to="/ShoukuangYinsi" active-class="whether_curWord"><i class=""></i><span class="cur_menu_word">收款及隐私</span></router-link>
										</li>
									</ol>
								</li>							
							</ul>
						</div>
					</div>
					<!--右边-->
					<div class="nav_zr_container">
						<router-view></router-view>
					</div>
				</div>
				
			</div>
			
		</div>
		<!--<div class="footer"></div>-->		
			
		<!--我约的行家页-->
		<template id="appointmentHtml">
			<div class="appointmentHtml">
				{if (1== 0)  }

				<!--没行家时-->
				<div class="noHangjia">
					<div class="appointmentHtml_zr_header">
						<p>我约的人</p>
					</div>
					<div class="appointmentHtml_zr_container">
						<p>真忧伤，我还没有约过人唉。<a href="#">立即去约人！</a></p>
					</div>
				</div>
				
				{else/}

				<!--有行家时-->
<!-- 					<?php
					var_dump($meetinfo);
				?> -->

<!-- {volist name="$meetinfo" id="vo"}
{$vo.id}:{$vo.meet_situation}<br/>
{/volist} -->

				{foreach $meetinfo as  $key => $vo} 
				    <!-- {$vo.id}:{$vo.meet_question} -->
						{if condition="($vo.expert_confirm == 0)"} <h2>等待行家确认</h2>


				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							{$vo.topic_price}元
						</div>
						<div class="status" style="color:sienna;">
							等待行家确认
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">查看详情</a>
						</div>
					</div>
					<div class="lookMove_box">
						<div class="aboutWenti">
							<p>您想请教的问题是：</p>
							<p>{$vo.meet_question}</p>
						</div>
						<div class="aboutGeren">
							<p>您的个人简介:</p>
							<p>{$vo.meet_situation}</p>
						</div>
					</div>
				</div>


				{elseif condition="($vo.expert_confirm == -1)"/} <h2>订单被取消</h2>



				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__/{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							{$vo.topic_price}元
						</div>
						<div class="status">
							订单被取消
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">查看详情</a>
						</div>
					</div>
					<div class="lookMove_box">
						<div class="aboutWenti">
							<p>您想请教的问题是：</p>
							<p>{$vo.meet_question}</p>
						</div>
						<div class="aboutGeren">
							<p>您的个人简介:</p>
							<p>{$vo.meet_situation}</p>
						</div>
					</div>
				</div>



				{elseif condition="($vo.student_pay == 0)"/} <h2>确认并付款</h2> 

				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__/{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							<a href=""style="color:red;">取消订单</a>
						</div>
						<div class="status" >
							<form id="studentConfirm" action="{:url('studentConfirm')}">
								<input type="hidden" value="{$vo.id}" name="id">
								<a href="#" type="submit" style="color:red;" onclick="document.getElementById('studentConfirm').submit();return false">确认地点并付款</a>
							</form>
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">查看地点</a>
						</div>
					</div>
					<div class="lookMove_box">
						<div class="aboutWenti">
							<p>见面地点：</p>
							<p>{$vo.meet_place}</p>
						</div>
						<div class="aboutGeren">
							<p>见面时间：</p>
							<p>{$vo.meet_time}</p>
						</div>
					</div>
				</div>





				{elseif condition="($vo.student_pay == 1) "/} <h2>已付款</h2> 

				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__/{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							<form id="studentPay" action="{:url('studentPay')}">
								<input type="hidden" value="{$vo.id}" name="id">
								<a href="#" type="submit" style="color:red;" onclick="document.getElementById('studentPay').submit();return false">点击确认付款</a>
							</form>
						</div>
						<div class="status">
							已付款
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">查看地点</a>
						</div>
					</div>
					<div class="lookMove_box">
						<div class="aboutWenti">
							<p>见面地点：</p>
							<p>{$vo.meet_place}</p>
						</div>
						<div class="aboutGeren">
							<p>见面时间：</p>
							<p>{$vo.meet_time}</p>
						</div>
					</div>
				</div>

				{elseif condition="($vo.student_pay == 2) AND($vo.meet_score == NULL)"/} <h2>未评价</h2>

				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__/{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							{$vo.topic_price}元
						</div>
						<div class="status" style="color:sienna;">
							订单完成
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">点击评价</a>
						</div>
					</div>
					<div class="lookMove_box">
						<form action="{:url('studentComment')}">
							<div class="aboutWenti">
								<p>评分：</p>
								1<input type="radio" value="1" name="meet_score" >&nbsp;&nbsp;
								2<input type="radio" value="2" name="meet_score" >&nbsp;&nbsp;
								3<input type="radio" value="3" name="meet_score" >&nbsp;&nbsp;
								4<input type="radio" value="4" name="meet_score" >&nbsp;&nbsp;
								5<input type="radio" value="5" name="meet_score" >&nbsp;&nbsp;
							</div>
							<div class="aboutGeren">
								<p>评论：</p>
								<input type="text" name="meet_comment">
							</div>
							<input type="hidden" value="{$vo.id}" name="id">
							<input type="submit">
						</form>
					</div>
				</div>


				{elseif condition="($vo.meet_score != 0)"/} <h2>已评价</h2>
				<div class="haveHangjia">
					<div class="appointmentHtml_zr_header">
						<p><span class="bianhao">编号：{$vo.order_number}</span><span class="time">发起时间：{$vo.create_time}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;{$vo.id}</span></p>
					</div>
					<div class="appointmentHtml_zr_container">
						<div class="img_topic_word">
							<img src="__STATIC_PATH__/{$vo.user_head_pic}"/>
							<div class="topic_word">
								<h2>{$vo.topic_name}</h2>
								<p><span>{$vo.exp_realname}</span><span>&nbsp;&nbsp;&nbsp;</span>{$vo.exp_job}</p>
							</div>
						</div>
						<div class="money">
							{$vo.topic_price}元
						</div>
						<div class="status" style="color: #FF946E;">
							已评价
						</div>
						<div class="lookMore">
							<a @click="detailpop({$key})">查看评价</a>
						</div>
					</div>
					<div class="lookMove_box">
						<div class="aboutWenti">
							<p>您给的分数：</p>
							<p>{$vo.meet_score}</p>
						</div>
						<div class="aboutGeren">
							<p>您的评论：</p>
							<p></p>
						</div>
					</div>
				</div>


		{else /} <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>bug：有一条数据未输出
		{/if}
		<br/>
{/foreach}




<!-- 				
<div class="haveHangjia">
	<div class="appointmentHtml_zr_header">
		<p><span class="bianhao">编号：1506511613968660</span><span class="time">发起时间：2017-09-27</span></p>
	</div>
	<div class="appointmentHtml_zr_container">
		<div class="img_topic_word">
			<img src="__STATIC_PATH__/{$info.user_head_pic}"/>
			<div class="topic_word">
				<h2>IT从业者如何做好职业规划</h2>
				<p><span>范雯甜</span><span>&nbsp;&nbsp;&nbsp;</span>博优咨询首席顾问、合伙人</p>
			</div>
		</div>
		<div class="money">
			600元
		</div>
		<div class="status">
			已经取消
		</div>
		<div class="lookMore">
			<a @click="detailpop(9)">查看详情</a>
		</div>
	</div>
	<div class="lookMove_box">
		<div class="aboutWenti">
			<p>您想请教的问题是：</p>
			<p>111111</p>
		</div>
		<div class="aboutGeren">
			<p>您的个人简介:</p>
			<p>222222</p>
		</div>
	</div>
</div> -->
				
				{/if}
			</div>
		</template>	
		
		
		<!--心愿单页-->
		<template id="wantListHtml">
			<div class="wantListHtml">
				<div class="wantListHtml_zr_container">
					<p>真忧伤，我的心愿单还没有行家。<a href="#">立即去加人！</a></p>
					<!--<ul>
						<li>
							
						</li>
					</ul>-->
				</div>
			</div>
		</template>
		
		
		<!--添加3个template，我的话题，预约单，收到的评论-->
		
		
		<!--  -->
		<!--添加结束-->		
		
		
		<!--我的礼劵页-->
		<template id="liquanHtml">
			<div class="liquanHtml">
				<div class="liquanHtml_zr_header">
					<p>
						我的礼劵
						<a href="#">使用规则</a>
					</p>
				</div>
				<div class="liquanHtml_zr_container" style="padding: 26px 20px 35px 20px;">
					<!--<p>您还没有获得礼券，请随时关注「在行」</p>-->
					<div class="coupon_usable">
						<div class="title">
							新用户专属
							<p class="denomination">
								<span class="unit">￥</span>50
							</p>
						</div>
						<ul class="description">
							<li>• 满99元可用</li>
						</ul>
						<p class="tip">
							2017-09-18至2017-10-01有效
						</p>	
					</div>
					<div class="coupon_usable">
						<div class="title">
							新用户专属
							<p class="denomination">
								<span class="unit">￥</span>50
							</p>
						</div>
						<ul class="description">
							<li>• 满99元可用</li>
							<li>• 满99元可用</li>
							<li>• 满99元可用</li>
						</ul>
						<p class="tip">
							2017-09-18至2017-10-01有效
						</p>	
					</div>
					<div class="coupon_usable">
						<div class="title">
							新用户专属
							<p class="denomination">
								<span class="unit">￥</span>50
							</p>
						</div>
						<ul class="description">
							<li>• 满99元可用</li>
						</ul>
						<p class="tip">
							2017-09-18至2017-10-01有效
						</p>	
					</div>
					<div class="coupon_usable">
						<div class="title">
							新用户专属
							<p class="denomination">
								<span class="unit">￥</span>50
							</p>
						</div>
						<ul class="description">
							<li>• 满99元可用</li>
						</ul>
						<p class="tip">
							2017-09-18至2017-10-01有效
						</p>	
					</div>
				</div>
			</div>
		</template>
		<!--个人设置页-->
		<template id="personalSetHtml">
			<div class="personalSetHtml">
				<!--<p>个人设置页</p>-->
			</div>
		</template>
		
		<!--个人设置页里面的导航条-->
		<!--个人资料-->
		<template id="GerenZiliaoHtml">
			<form action="{:url('update')}" method="post" class="GerenZiliaoHtml">
				<div class="GerenZiliaoHtml_zr_header">
					<p>个人资料</p>
				</div>
	
				<div class="GerenZiliaoHtml_zr_container">
					<div class="Geren_userName">
						<p><span>* </span>昵称</p>
						<input name="user_name" value="{$info.user_name}" />						
					</div>
					<div class="Geren_trueName">
						<p><span>* </span>真实姓名</p>
						<input name="user_true_name" value="{$info.user_true_name}" />						
					</div>
					<div class="Geren_changzhudi">
						<p><span>* </span>常居地</p>
						<select autofocus id="location" name="user_address" required>
							<option value="北京">北京</option>
							<option {if $info.user_address == '上海'} selected {/if} value="上海">上海</option>
							<option {if $info.user_address == '深圳'} selected {/if} value="深圳">深圳</option>
							<option {if $info.user_address == '广州'} selected {/if} value="广州">广州</option>
							<option {if $info.user_address == '杭州'} selected {/if} value="杭州">杭州</option>
							<option {if $info.user_address == '成都'} selected {/if} value="成都">成都</option>
							<option {if $info.user_address == '西安'} selected {/if} value="西安">西安</option>
							<option {if $info.user_address == '武汉'} selected {/if} value="武汉">武汉</option>
							<option {if $info.user_address == '宁波'} selected {/if} value="宁波">宁波</option>
						</select>						
					</div>
					<div class="Geren_jianjie">
						<p><span>* </span>个人简介<span class="Geren_jianjie_word">完备的个人简历可以向行家展现您约见的诚意，也能让行家更好的帮助您。</span></p>
						<textarea name="user_intro" name="" rows="" cols="">{$info.user_intro}			
				</textarea>
					</div>
				</div>
				<div class="GerenZiliaoHtml_footer">
					<input type="hidden" name="id" value="{$info.id}">
					<button class="" type="submit">提交</button>
				</div>
			</form>
		</template>
		<!--头像设置-->
		<template id="TouxiangSetHtml">
			<form action="{:url('saveimg')}" method="POST" enctype="multipart/form-data" class="TouxiangSetHtml">
				<div class="TouxiangSetHtml_zr_header">
					<p>上传头像</p>
				</div>
				<div class="TouxiangSetHtml_zr_container">
					<div class="img_word_btn">
						<div class="touxiang_imgbox">
							<img src="__STATIC_PATH__/{$info.user_head_pic}" class="touxiangImg"/>
							<span class="close_touxiang" @click="close_touxiang()" >x</span>
						</div>
						
						<div class="word_btn">
							<p>支持jpg，png，gif格式图片，请尽可能选用160*160以上照片。</p>
							<div class="btn">
								<a href="javascript:;"><input name="user_head_pic" @change="uploadImg()" type="file" class="filepath"/>电脑中选一张</a>	
							</div>							

						</div>
					</div>
					<div class="submit_touxiang">
						<input type="hidden" name="user_id" value="{$info.id}">
						<button>保存</button>
					</div>
				</div>
			</form>
		</template>
		<!--验证手机-->
		<template id="YanzhengPhoneHtml">
			<form action="{:url('update')}" method="post" class="YanzhengPhoneHtml">
				<div class="YanzhengPhoneHtml_zr_header">
					<p>验证手机</p>
				</div>
				<div class="YanzhengPhoneHtml_zr_container">
					<div class="phoneNum">
						<input name="user_phone" type="text" value="{$info.user_phone}"/>
						<button>发送手机验证码</button>
					</div>
					<div class="phoneCaptcha">
						<input type="text" />
						<input type="hidden" name="id" value="{$info.id}">
						<button>提交</button>
					</div>
				</div>
			</form>
		</template>
		<!--修改密码-->
		<template id="ChangeMimaHtml">
			<div class="ChangeMimaHtml">
				<div class="ChangeMimaHtml_zr_header">
					<p>修改密码</p>
				</div>
				<div class="ChangeMimaHtml_zr_container">
					<div class="nowPassword">
						<p>当前密码</p>
						<input />						
					</div>
					<div class="newPassword">
						<p>新密码</p>
						<input value="" />						
					</div>
					<div class="newPassword_again">
						<p>确认新密码</p>
						<input value="" />						
					</div>
				</div>
				<div class="ChangeMimaHtml_footer">
					<button class="" type="submit">提交</button>
				</div>
			</div>
		</template>
		<!--收款及隐私-->
		<template id="ShoukuangYinsiHtml">
			<div class="ShoukuangYinsiHtml">
				<div class="ShoukuangYinsiHtml_zr_header">
					<p>收款及隐私</p>
				</div>
				<div class="ShoukuangYinsiHtml_zr_container">
					<div class="AboutTuikuang">
						<p>如果出现退款情况，将退到您这个账号。</p>
					</div>					
					<div class="zhifubao">
						<p><span> * </span>收款人支付宝</p>
						<input placeholder="目前只提供支付宝一种结算方式，如您没有支付宝建议您申请一个，或者找亲友代收"/>						
					</div>
					<div class="IDcard">
						<p><span> * </span>收款人身份证姓名</p>
						<input value="" placeholder="请务必与证件上的姓名一致，请不要用昵称"/>	
					</div>
				</div>
				<div class="ShoukuangYinsiHtml_footer">
					<input type="hidden" name="id" value="{$info.id}">
					<button class="" type="submit">提交</button>
				</div>
			</div>
		</template>
		<!--路由-->
		<script type="text/javascript">
			const router=new VueRouter({
				routes:[
//					重定向
					{
						path:'/',
						redirect:'/appointment'
					},
//					预约
					{
						path:'/appointment',
						component:{
							template:'#appointmentHtml',
							mounted:function(){
								$(".nav_zr_container").css("border","none");
								$(".appointmentHtml").css("background","#fafafa");
							},							
							beforeDestroy:function(){
								$(".nav_zr_container").css("border","1px solid #ccc");
							},
							methods:{
								detailpop:function(even){
									$(event.target).parent().parent().parent().find(".lookMove_box").toggle();
								}
							}
						},
					},
//					心愿单
					{
						path:'/wantList',
						component:{
							template:'#wantListHtml'
						}
					},
//					添加导航项，我的话题，预约单，收到的评论
//					添加结束					
//					礼券
					{
						path:'/liquan',
						component:{
							template:'#liquanHtml'
						}
					},
//					个人设置
					{
						path:'/personalSet',
						component:{
							template:'#personalSetHtml',
							//增加
							beforeRouteEnter(to,from,next){
								next('/GerenZiliao')
							},
						}
					},
//					个人设置里面的导航条
					{
						path:'/GerenZiliao',
						component:{
							template:'#GerenZiliaoHtml'
						}
					},
					{
						path:'/TouxiangSet',
						component:{
							template:'#TouxiangSetHtml',
							methods:{
								uploadImg:function(){
						            var srcs = this.getObjectURL($(".filepath")[0].files[0]);   //获取路径
						            console.log(srcs);
						            console.log($(".filepath"));
						            $(".close_touxiang").show();
						            $(".submit_touxiang").show();
						            $(".touxiangImg").attr("src",srcs);    //this指的是input
						        },
								getObjectURL:function(file) {
							        var url = null;
							        if (window.createObjectURL != undefined) {
							            url = window.createObjectURL(file)
							        } else if (window.URL != undefined) {
							            url = window.URL.createObjectURL(file)
							        } else if (window.webkitURL != undefined) {
							            url = window.webkitURL.createObjectURL(file)
							        }
							        return url
							    },
							    close_touxiang:function(){
						            $(".close_touxiang").hide();
						            $(".submit_touxiang").hide();
						            $(".touxiangImg").attr("src",'__STATIC_PATH__/{$info.user_head_pic}');
							    }
							}
						}
					},
					{
						path:'/YanzhengPhone',
						component:{
							template:'#YanzhengPhoneHtml',
							methods:{

							}
						}
					},
					{
						path:'/ChangeMima',
						component:{
							template:'#ChangeMimaHtml'
						}
					},
					{
						path:'/ShoukuangYinsi',
						component:{
							template:'#ShoukuangYinsiHtml'
						}
					},
				]
			});
			new Vue({
				el:"#zr_vue_here",
				data:{
					touxiang_src: "__STATIC_PATH__/{$info.user_head_pic?$info.user_head_pic:'data/home_head_pic/system_headpic/system_headpic.jpeg'}"
				},
				methods:{
				},
				router
			});
		</script>
		<!--js-->
		<script type="text/javascript">
			var navList_li=document.querySelectorAll(".nav_list ul .navList_ul_li");
			var navList_li_ol_li=document.querySelectorAll(".nav_list ul .navList_ul_li ol li");
			var navList_li_ol=document.querySelectorAll(".nav_list ul .navList_ul_li ol");

//			进来就判断
			setCurmenu();
			function setCurmenu(){
//				设置个人设置是否高亮
				var key=0;
				for(var i=0;i<navList_li_ol_li.length;i++){
//					console.log(navList_li_ol_li[i].querySelector('a').getAttribute('class'));
					if(navList_li_ol_li[i].querySelector('a').getAttribute('class')){
						key=1;
					}
				}
				if(key==1){					
					navList_li[6].setAttribute("class",'navList_ul_li liWhether_curMenu');
					navList_li_ol[0].style.display="block";
				}
				else{
					navList_li[6].setAttribute("class",'navList_ul_li');
					navList_li_ol[0].style.display="none";
				}
			}
//			点击首页导航条是判断
			clickLi_setCur();
			function clickLi_setCur(){
				for(var i=0;i<navList_li.length-1;i++){
					navList_li[i].onclick=function(){
						setCurmenu();
					}
				}
			}
			
//			点击个人设置导航条判断
			clickOlli_setCur();
			function clickOlli_setCur(){
				for(var i=0;i<navList_li_ol_li.length;i++){
					navList_li_ol_li[i].onclick=function(){
						setCurmenu();
					}
				}
			}
			
//			个人设置导航条是否显示
			ShowGerenNav();
			function ShowGerenNav(){
				navList_li[6].children[0].onclick=function(){					
					if(navList_li_ol[0].style.display=="block"){
						navList_li_ol[0].style.display="none";
					}
					else{
						navList_li_ol[0].style.display="block";
					}
					//增加
					navList_li[6].setAttribute("class",'navList_ul_li liWhether_curMenu');
				}
			}
		</script>
		<script type="text/javascript">
		
			
			//获取路径的方法
			function getObjectURL(file) {
		        var url = null;
		        if (window.createObjectURL != undefined) {
		            url = window.createObjectURL(file)
		            console.log('w1')
		        } else if (window.URL != undefined) {
		            url = window.URL.createObjectURL(file)
		            console.log('w2')
		        } else if (window.webkitURL != undefined) {
		            url = window.webkitURL.createObjectURL(file)
		            console.log('w3')
		        }
		        return url
		    };
		</script>
{include file="nav_foot/foot"}
{include file="common/footer"}