{include file="common/header"}
{include file="nav_foot/nav"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/detail/css/detail.css" />
<div class="details">
	<div class="header">

	</div>
	<div class="content">
		<div class="left con_left">
			<div class="logo">
				<img src="//media.zaih.com/FhL64PQrzgRa5bvIh4K4Li1Hq_FT55!avatar" alt="刘艳蓉">
			</div>
			<div class="introduce">
				<h1 class="name">刘艳蓉</h1>
				<p>品牌战略&新媒体整合营销实战派</p>
				<ul class="f6 ">
					<li>
						<span class="red">半天</span>内回应
					</li>
					<li>
						<span class="red">11</span>人见过
					</li>
					<li>
						<span class="red">66</span>人想见
					</li>
					<li >
						<span class="red">高</span>接受率
					</li>
					<b class="introduce_btn" >
						
					</b>
				</ul>
				
				<p>北京 <span>朝阳</span></p>
			</div>
			<div class="item  ">
				<div class="price">
					<span>
 						￥<span style="font-size: 18px; "> 500 </span>/次
					</span>
					<span class="right" >
 						<span style="font-size: 18px;">9.8</span>分<b>!</b>
					</span>
				</div>
				<h2>市场营销的入门和职业发展咨询</h2>

				<p>加入互联网金融行业以前，我也算最早一批互联网行业从业者，从98年开始触网，到毕业后直接进入当时盛极一时的联众游戏，十几年的时间，见证了很多繁花似锦的互联网产业花开花落的过程，从2000年的八大门户、2001年的网络游戏、2004年的SP、以及后来的团购，大凡盛极一时的互联网产业必然是加入者众多，瞬间进入红海作战的状态，所以互联网企业的竞争是非常残酷的。在这样的竞争环境下，如何做好市场营销，迅速提高知名度和人气是每个公司关注的重点，也因此市场营销的人才需求也颇为紧俏，有很多公司这样的岗位都是常年求贤若渴的状态。</p>
				<p>有幸在这十几年里经历了各类互联网营销的战役，负责过品牌战略、产品体验、市场活动、网络广告等全方位市场营销互联网营销案例，再加上个人在营销创意及营销手段上的热情，积累了很多互联网营销的实操经验。</p>
				<p>我非常愿意和你分享我的经验，如果你遇到了如下问题，我也愿意知无不言，言无不尽地说出我的建议：</p>
				<ul class="wen">
					<li>做市场营销从哪里入手？</li>
					<li>市场营销都包括哪些方面？</li>
					<li>什么样的广告形式更有效，如何投放网络广告？</li>
					<li>什么样的营销方式更适合自己的产品？</li>
					<li>做市场营销从哪里入手？</li>
					<li>市场营销都包括哪些方面？</li>
					<li>什么样的广告形式更有效，如何投放网络广告？</li>
					<li>什么样的营销方式更适合自己的产品？</li>
				</ul>
				<div class="share">
					<strong>分享话题：</strong>
					<img src="" alt="" />
					<img src=""/>
				</div>
				
			</div>
			<div class="footer">
				<ul class="left">
					<li>约<span>1.5</span>小时</li>
					<li><span>8</span>人约过</li>
				</ul>
				<!--<input id="btn" type="button" class="right" value=">"/>-->
				<div class="b_hover"><div  class="right btn"></div></div>
			</div>
				
			<div class="about">
				<h2>关于行家   </h2>
				<img src="FnSFIS7F4PD9_0c4O0NYSW78m486!mainbody.jpg" />
				<p>当我第一次在活动现场，经历了两个小时的活动，主持人手卡上的最后一句话说完，嘉宾离场，灯光暗下来……看着这一切，我特别开心。</p>
				<p>当我第一次在活动现场，经历了两个小时的活动，主持人手卡上的最后一句话说完，嘉宾离场，灯光暗下来……看着这一切，我特别开心。</p>
				<p>当我第一次在活动现场，经历了两个小时的活动，主持人手卡上的最后一句话说完，嘉宾离场，灯光暗下来……看着这一切，我特别开心。</p>
				<p>当我第一次在活动现场，经历了两个小时的活动，主持人手卡上的最后一句话说完，嘉宾离场，灯光暗下来……看着这一切，我特别开心。</p>

			</div>
		</div>
		<div class="right con_right">
			<div class="r_top">
				分享：
				<a href=""><i class="icon icon-weibo"></i></a>
				<a href=""><img src="images/火狐截图_2017-09-15T11-01-45_04.png" /></a>
			</div>
			
			<div class="r_btn">
				<a href="">立即预约</a>
				<a href="">加入心愿墙</a>
			</div>
			<ul class="recommend">
				<h2>王弢的推荐</h2>
				<li>
					<a href="">
						<div class="item">
							<img src="images/火狐截图_2017-09-15T11-01-45_08.png" class="left" />
							<div class="left commend f5">
								<h4>HR高阶教程：如何真正成为业务伙伴</h4>
								<p class="name">张少林<span>北京</span></p>
								<p> 映客直播HRVP，社会学博士</p>
							</div>
						</div>
						<p class="p_recommend">张少林老师是资深管理专家，20余年HR行业经验，在互联网IT行业久负盛名，拥有一切管理问题的答案。</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="discuss">
		<div class="tips f3">
			<p>只需付<span style="font-size: 18px; font-weight: bold;">几百元</span>，就可以与行家</p>
			<p style=" font-weight: bold;">一对一线下面谈</p>
			<p class="f6">为您答疑解惑、出谋划策。不满意还能“无忧退款”</p>
			<strong>在行</strong>
		</div>
		<div class="mid">
			<div class="title"> 
				<span> 学员点评</span>
				<strong class="hot" style="margin-left: 20px;">热门</strong>
				<ul class="aUl" style="display: none; border-radius: 5px; border: 1px solid #B0B0B0; padding:5px">
					<li>热门</li>
					<li>最新</li>
				</ul>
			</div>
			<ul class="student_review">
				<li>
					<img src="images/火狐截图_2017-09-15T11-01-45_16.png" class="left" />
					<div class="left content">
						<h4>名字</h4>
						<p>地产代理公司@hr，感谢王弢老师利用周末到公司交流和指导，就人才盘点和组织发展给了系统的指导，希望今后还能有持续交流的机会！</p>
					</div>
					<p class="item">参与话题：企业人才盘点</p>

					<div class="footer f6">
						<div class="discuss_time left">20170915</div>
						<input type="button" name="" id="" class="right" value="有用" />
					</div>
				</li>

				<li>
					<img src="images/火狐截图_2017-09-15T11-01-45_16.png" class="left" />
					<div class="left content">
						<h4>名字</h4>
						<p>地产代理公司@hr，感谢王弢老师利用周末到公司交流和指导，就人才盘点和组织发展给了系统的指导，希望今后还能有持续交流的机会！</p>
					</div>
					<p class="item">参与话题：企业人才盘点</p>
					<div class="footer f6">
						<div class="discuss_time left">20170915</div>
						<input type="button" name="" id="" class="right" value="有用" />
					</div>
				</li>
				<input type="button" value="加载更多" class="btn" />
			</ul>
			<div class=" con_right">
				<div class="r_top">
					分享：
					<a href=""><img src="images/火狐截图_2017-09-15T11-01-45_03.png" /></a>
					<a href=""><img src="images/火狐截图_2017-09-15T11-01-45_04.png" /></a>
				</div>
					
				<div class="r_btn">
					<a href="">立即预约</a>
					<a href="">加入心愿墙</a>
				</div>
				<ul class="recommend">
					<h2>相关行家</h2>
					<li>
						<a href="">
							<div class="item">
								<img src="images/火狐截图_2017-09-15T11-01-45_08.png" class="left" />
								<div class="left commend f5">
									
									<p  class="name">张少林<span>上海擅美广告创意合伙人</span></p>
									<span class="right">北京</span>
									<p style="color: #3A3A3A;"> 品牌怎么打营销怎么玩？我来帮你理思路</p>
									<p>15人见过</p>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
//	var btn=document.querySelector('.introduce_btn');
//	btn.onclick=function(e){
//		
//	}
		var b = document.querySelector('.details .content .con_left .introduce ul b');
	b.onclick = function(e) {
		e.preventDefault();
		$(this).parent().toggleClass("one");
		$(this).hasClass("b") ? $(this).removeClass("b").addClass("introduce_btn") : $(this).removeClass("introduce_btn").addClass("b")
	}
	var oBtn=document.querySelector(".details>.content>.con_left>.footer .b_hover .btn");
	oBtn.onclick=function(e) {
	  e.preventDefault();
	  var t = $(this),
	 
	    n = t.parent().parent().siblings(".item");
	    
	    t.toggleClass("change");
	  n.toggleClass("close");
	}
	var hot=document.querySelector(".hot");
	var aUl=document.querySelector(".aUl");
	hot.onclick=function(){
		aUl.style.display='block';
		hot.style.display='none';
	}
	aUl.onmouseleave=function(){
		hot.style.display='block';
		aUl.style.display='none';
	}
</script>
{include file="nav_foot/foot"}
{include file="common/footer"}