{include file="common/header"}
{include file="nav_foot/nav"}
    <link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/appzai/css/zaih.css">
    <div class="container">
        <div class="header">
            <!-- 在行标签 -->
            <div class="zh-head">
                <h1>[在行]</h1>
                <h3>达人专家按需约见，人人共享知识技能</h3>
            </div>
            <!-- 二维码下载 -->
            <div class="QR-code">
                <div class="img"></div>
                <a href="#">手机扫描下载</a>
            </div>
            <!-- 手机图片 -->
            <div class="img01"></div>
        </div>
        <!-- 下载按钮 -->
        <div class="download-btn">
            <div class=" btn ios">
                <span class="img"></span>
                
                <a href="">下载iphone版</a>
            </div>
            <div class="btn android">
                <span class="img"></span>
                
                
                <a href="">下载Android版</a>
            </div>
        </div>
        <!-- 服务 -->
        <div class="guide">
            <ul>
                <li class="guide-item">
                    <span class="guide-icon">
                        <img src="__STATIC_PATH__/static/appzai/img/01.png">
                    </span>
                    <a href="#">行家认证</a>
                </li>
                <li class="guide-item">
                    <span class="guide-icon">
                        <img src="__STATIC_PATH__/static/appzai/img/02.png">

                    </span>
                    <a href="#">一键预约</a>
                </li>
                <li class="guide-item">
                    <span class="guide-icon">
                        <img src="__STATIC_PATH__/static/appzai/img/03.png">

                    </span>
                    <a href="#">无忧退款</a>
                </li>
            </ul>
        </div>

            

    </div>
{include file="nav_foot/foot"}
{include file="common/footer"}