{include file="common/header"}
{include file="nav_foot/nav"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/special/less/special.css?y">
<div class="holiday">
	<div class="holiday-head">
		<div class="holiday-poster">
			<div class="head-msg">
				<img src="__STATIC_PATH__{$special.img_path}">
			</div>
			<div class="discount">
				<div class="discount-title">
					<p>
						<span>满<span>199</span>减</span><strong>50</strong>
					</p>
					<p>领取后21日内有效</p>
				</div>
				<div class="discount-msg">
					<ul>
						<li><span>·</span>仅限本专题使用</li>
						<li><span>·</span>满199元可用</li>
					</ul>
				</div>
				{if $coupon !== null}
				<div class="discount-get cur">已领取</div>
				{else}
				<div class="discount-get">领取&nbsp;&nbsp;&gt;</div>
				{/if}
				<div class="discount-tag">
					限量<br>500张
				</div>
			</div>
		</div>
		<div class="holiday-title">2017年国庆节八天长假即将到来，资深旅游定制专家一对一为您打造独一无二的旅游计划！</div>
		<div class="share">分享<a href=""><img src="__STATIC_PATH__/static/images/weibo1.png" alt=""></a><a href=""><img src="__STATIC_PATH__/static/images/weixin1.png" alt=""></a></div>
	</div>
	<div class="holiday-list">
		<ul>
			<a href="{:url('/index/detail')}">
				{foreach $special_list as $key=>$val}
				<li>
					<div class="hope-see">
						171人想见
					</div>
					<div class="avatar">
						<img src="__STATIC_PATH__/static/special/images/FpNULgENNMtTk6_TuFX5CrnqeN94!avatar.jpg">
					</div>
					<div class="name">{$val['realname']}</div>
					<div class="label">{$val['job']}</div>
					<div class="msg">
						<div class="title">
							{$val['name']}
						</div>
						<div class="tips">
							{$val['name']}
						</div>
					</div>
				</li>
				{/foreach}
			</a>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var login = {$login !== false? 'true': 'false'} ;
		$('.discount-get').click(function(){
			if(!$(this).hasClass('cur') && login){
				var that = this;
				$.post({
					url: "{:url('/index/special/coupon')}",
					data: {special: "{$login !== false?$special['name']:''}"},
					success: function(data){
						data = JSON.parse(data);
						if(data.status == 0){
							$(that).addClass('cur').html('已领取');
						}
					}
				})
			}
		})
	})
</script>
{include file="nav_foot/foot"}
{include file="common/footer"}