{include file="common/header"}
{include file="nav_foot/nav"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/register/css/signup.css">
	<div class="container">
		<div class="content signup">
			<div class="single-column">
				<div class="single-white-wrap">
					<p>欢迎加入在行</p>
					<div class="signup-panel">

						<form method="POST" class="signForm">


							<div class="form-group">
								<div class="form-item">
									<input type="text" id="mobile" name="user_phone" placeholder="手机号" class="form-control">
									<span class="form-error errForMobile"></span>
								</div>
							</div>

							<div class="form-group">
								<div class="form-item">
									<input type="text" id="captcha" name="captcha_code" placeholder="验证码" class="form-control">
									<img src="{:url('api/register/setCapche')}" alt="" id="setCapche" style="float: right;height: 36px;">
									<span class="form-error errForCaptcha"></span>
								</div>
							</div>

							<div class="form-group">
								<input type="button" name="" id="getCode" class="btn-default btn-hg getCode" value="发送手机验证码" style="line-height: 0px;">
							</div>			

							<div class="form-group">
								<div class="form-item">
									<input type="text" id="code" name="code" placeholder="手机验证码" class="form-control">
									<span class="form-error errForCode"></span>
								</div>
							</div>

							<div class="form-group">
								<div class="form-item">
									<input type="text" id="nickname" name="user_name" placeholder="昵称" class="form-control" value="">
									<span class="form-error errForNickname"></span>
								</div>
							</div>

							<div class="form-group">
								<div class="form-item">
									<input type="text" id="pwd" name="user_pwd" placeholder="密码" class="form-control" value="">
									<span class="form-error errForPassword"></span>
								</div>
							</div>
							
							<div class="deal checkbox-wrap">
								<label for="">
									<input autofocus="" checked="" id="readme" name="readme" type="checkbox">
									<span class="checkbox checkbox-true">
										<img class="iconcheck" src="__STATIC_PATH__/static/register/image/check.png" alt="">
										<i class="icon icon-checkbox"></i>
									</span>
									我已阅读并同意
									<a href="http://www.zaih.com/help/agreement/" target="_blank">《服务条款》</a>
								</label>
							</div>
							
							<div class="btns-wrap-center">
								<input type="button" id="submit" class="btn-submit btn-hg btn-complete-register"  value="注册" style="line-height: 0px;">
							</div>
							
							<div class="to-login">
								已有账号？现在去
								<a rel="nofollow" href="{:url('/index/login')}">登录</a>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			var sendCode = false;
			var register = false;
			$('.signup #submit').click(function(){
				var mobile = $('#mobile').val();
				var nickname = $('#nickname').val();
				var password = $('#pwd').val();
				var code = $('#code').val();
				if(!/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(mobile)){
					$('.signup .errForMobile').text('手机号码输入有误');
					return;
				}else if(!code)
				{
					$('.signup .errForCode').text('验证码不能为空');
					return;
				}
				else if(!/^.{4,16}$/.test(nickname)){
					$('.signup .errForNickname').text('请输入4-16位的昵称');
					return;
				}else if(!/^.{6,16}$/.test(password)){
					$('.signup .errForPassword').text('请输入6-16位的密码');
					return;
				}
				if(register){
					return
				}
				register = true;
				$.post({
					url: "{:url('/index/register/doreg')}",
					data:{
						mobile: mobile,
						nickname: nickname,
						password: password,
						code: code
					},
					success: function(data){
						data = JSON.parse(data);
						// console.log('waefwf')
						if(data.status == 10){
							window.location.href = '{:url("/index")}';
						}else{
						ErrorShow(data)
						}
					},
					complete: function(){
						register = false;
					}
				})
			})
			//获取焦点后清除错误信息
			$(".signup input").focus(function(){
			  $(".signup .form-error").text('');
			});
			//点击发送验证码
			$('.signup #getCode').click(function(){
				if(sendCode){
					return;
				}
				sendCode = true;
				var mobile = $('#mobile').val();
				// var capche = $('#captcha').val();
				if(!mobile){
					$('.signup .errForMobile').text('手机号码不能为空');
					sendCode = false;
					return;
				}
				var time = 60;
				$(this).css('color','#ff946e').val(60 + 's 后重试');
				var timer = setInterval(function(){
					time --;
					$('#getCode').val(time + 's 后重试');
					if(time == 0){
						$('#getCode').css('color','#343434').val('发送手机验证码');
						sendCode = false;
						clearInterval(timer)
					}
				},1000)
				$.post({
					url: "../index/register/getCode",
					data:{
						mobile: $('#mobile').val(),
						capche: $('#captcha').val()
					},
					success:function(data){
						data = JSON.parse(data);
						// console.log(data,data.status,data.status == 0)
						// if(data.status == 0){
						// 	window.location.href = '../'
						// }
						if(data.status !== 10){
							$('#getCode').css('color','#343434').val('发送手机验证码');
							sendCode = false;
							clearInterval(timer);
						}
						ErrorShow(data);
					},
					error: function(){
						$('#getCode').css('color','#343434').val('发送手机验证码');
						sendCode = false;
						clearInterval(timer);
					}

				})
			})
			//点击更换图片验证码
			$('.signup #setCapche').click(function(){
				changeCapche();
			})

			//更换图片验证码

			function changeCapche(){
				$.get({
					url: "../index/register/setCapche",
					success:function(data){
						// data = JSON.parse(data);
						// console.log(data)
						$('.signup #setCapche').attr('src', '{:url("/index/register/setcapche")}?'+Math.random());
					}
				})
			}
			//错误提示
			function ErrorShow(data){
				if(data.status==0)
				{
					$('.signup .errForMobile').text(data.message);
					changeCapche();
				}else if(data.status==1){
					$('.signup .errForCaptcha').text(data.message);
					changeCapche();
				}else if(data.status==2){
					$('.signup .errForCode').text(data.message);
				}else if(data.status==3){
					$('.signup .errForNickname').text(data.message);
				}else if(data.status==4){
					$('.signup .errForPassword').text(data.message);
				}
			}
		})
	</script>
{include file="nav_foot/foot"}
{include file="common/footer"}