{include file="common/header"}
    <link rel="stylesheet" type="text/css" href="__STATIC_PATH__/static/appzai/css/fd2.css?h">
    <!-- 首页 -->
    <div class="banner">
        <div class="container">
            
            <ul class="download-btn">
                <li>安卓版下载</li>
                <li>IOS版下载</li>
            </ul>
            
            
                <ul class="download-code">
                <li>
                    <div class="img img1"></div>
                    <a href="#">使用微信版分答</a>
                </li>
                 <li>
                    <div class="img img2"></div>
                    <a href="#">扫描下载分答App</a>
                </li>
            </ul>
            
        </div>
    </div>
    <!-- 人物 -->
    <div class="section1">
        <div class="container">
            <div class="header">
                <img src="__STATIC_PATH__/static/appzai/img/renwu2.png">
            </div>
            <div class="right">
                <h2>十万知识网红等你来问</h2>
                <p>章子怡，汪峰，佟大为，罗振宇，刘慈欣，</p>
                
                <p>黄执中，哈文，冯仑，曹云金，马薇薇 ，</p>
                
                <p>沈宏非，鞠起，马丁，Dr魏，</p>
                
                <p>张泉灵，</p>
                
                <p>......</p>
            </div>
            <div class="right-mod">
                <h2>十万知识网红等你来问</h2>
                <p>章子怡，汪峰，佟大为，罗振宇，刘慈欣，</p>
                <p>......</p>
            </div>
        </div>
    </div>
        <div class="download-btn-mod">
            <img src="__STATIC_PATH__/static/appzai/img/appcode.png">
            <p>截图扫码使用微信版分答</p>
        </div>
        <div class="btn-mod">
            下载分答App
        </div>
    <!-- 内容 -->
    <div class="intro">
        <p>
            这里有的众多“答主”<br>您可以付费向他们提问</p>
        <p>
            60秒内语音
            <br>
            有偿回答他人问题</p>
        <p>
            任何人只要花1元
            <br>
            就可以偷听别人的回答</p>
        <p>
            偷听费用
            <br>
            将由提问者和回答者平分</p>
    </div>

    <!-- 768px -->

{include file="nav_foot/foot"}
{include file="common/footer"}